.fridge {
  height: 100vh;
  background-color: #e3efeb;
  display: flex;

  &--content {
    background-image: url('../images/fridge.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 956.2px;


    &--wrapper {
      padding-top: 54px;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      overflow: hidden;
    }


    &--item {
      width: 64px;
      height: 64px;
      border-radius: 10px;
      background: #e8f9f6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 13.5px 40px;

      &:nth-child(5n+2) {
        transform: translateX(30px);
      }

      &:nth-child(5n+4) {
        transform: translateX(-30px);
      }

      &:after {
        display: none;
        content: attr(data-title);
        width: 64px;
        font-size: 10px;
        height: 32px;
        background-color: white;
        color: #666;
        border-radius: 10px;

      img {
        width: 100%;
      }
    }
  }

  &--stats {
    padding: 50px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

    &--button {
      margin-top:30px;
      color: white;
      text-decoration: none;
      padding: 10px 30px;
      background-color: #d31204;
      border-radius: 20px;
      width: 100%;
    }
  }
}
