.monster{
  height: 100vh;
  display: flex;
  position: relative;

  &--right {
    flex: 2 0 0;
  }

  &--left {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--img {
  }

  &--message{
    margin-top: 150px;

    &--content {
      width: 300px;
    }
  }

  &--button {
    position: absolute;
    top: 320px;
    left: 750px;
  }
}
