.monster{
  height: 100vh;
  display: flex;

  &--right {
    flex: 2 0 0;
  }

  &--left {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--img {
  }

  &--message{
  }

  a{
    margin-top:150px;
    text-decoration: none;
    padding: 10px;
    border-radius:10%;
    background-color: $red;
    color: white;
  }
}
