.needs{
  width:100%;
  & > div{
    margin: 10px;
    width:20%;
    height: 100%;
    background-color: $light;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .kcal{
    background-color: $kcal;
    height:50%;
  }
  .protein{
    background-color: $protein;
    height:20%;
  }
  .fat{
    background-calor:$fat;
    height:10%;
  }
  .carbohydrates{
    background-color: $carbo;
    height:20%;
  }
}