.needs {
  width: 300px;

  & > div {
    margin: 10px;
    width: 15%;

    height: 200px;
    float: left;
    position:relative;
    .limit{
      border:3px solid $dark;
      position: absolute;
      width:40%;
      margin: 0 ;
    }
  }
  .kcal {
    background-color: $kcal;
    .blank {

      height: 50%;
      background-color: $light;
    }
    .limit{
      top:30%;
    }
  }
  .protein {
    background-color: $protein;
    .blank {

      height: 70%;
      background-color: $light;
    }
    .limit{
      top:80%;
    }
  }
  .fat {
    background-color: $fat;
    .blank {
      height: 90%;
      background-color: $light;
    }
    .limit{
      top:60%;
    }
  }
  .carbohydrates {
    background-color: $carbo;
    .blank {

      height: 60%;
      background-color: $light;
    }
    .limit{
      top:60%;
    }
  }

}
