.score {
	background: $red;
	background: -webkit-linear-gradient(right, $red, $darkred);
	background: -moz-linear-gradient(right, $red, $darkred);
	background: -o-linear-gradient(right, $red, $darkred);
	background: linear-gradient(to left, $red, $darkred);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;

	h1,h2 {
		align-self: center;
		color: #FFF;
		width: 100%;
		text-align: center;
	}
	h1 {
		font-size: 54px;
		font-family: 'Lato', Tahoma;
	}
	h2 {
		font-size: 72px;
	}

	h3 {
		justify-content: space-around;
		text-align: center;
		width: 100%;
		float: left;
	}

	img {
		width: 64px;
		height: 64px;
	}

	a{
		background-color:$light;
	    padding: 20px;
	    color: $red;
	    border-radius:10%;
	    margin-left:450px;
	    margin-top: 50px;
	    font-size:20px;
  	}
}

