.welcome{
  margin-top:-72px;
  height:100vh;
background: $red; /* fallback for old browsers */
background: -webkit-linear-gradient(right, $red, $darkred);
background: -moz-linear-gradient(right, $red, $darkred);
background: -o-linear-gradient(right, $red, $darkred);
background: linear-gradient(to left, $red, $darkred);
  background: url('../images/bg.jpg') 50% 50%;
  background-size: cover;
  padding:0 20%;
color: $light;
  h1{
    padding-top:200px;
    font-size:85px;
  }
  p{
    width:45%;
  }
  a{
    background-color:$light;
    padding: 20px;
    color: $red;
    border-radius:10%;
    margin-left:450px;
    margin-top: 50px;
    font-size:20px;
  }


}